@charset "UTF-8";

body {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

/* =================================
mainvisual 仮
===================================== */
main {
    height: 1000px;
}

img {
    position: absolute;
    width: 500%;
    height: 500%;
}

.panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5%;

    width: 100%;
    height: 100vh;
    margin: 3px;
    background-color: #000;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    perspective: 1000px; /* 3D空間の奥行き */
}


.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d; /* 子要素を3Dで保つ */
}

.card:hover .card-inner {
    transform: rotateX(360deg); 
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* 裏面非表示設定 */
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.front {
    background-color: #333;
    align-items: center;
    overflow: hidden;
}


.back {
    background-color: #ededed;
    color: #000;
    transform: rotateX(180deg); /* 裏側は180度回転 */
}


/* card potsition */
/* 1行目 */
.card1 img {top: 0;  left: 0;}
.card2 img {top: 0;  left: -99.5%;}
.card3 img {top: 0;  left: -199%;}
.card4 img {top: 0;  left: -298.5%;}
.card5 img {top: 0;  left: -398%;}

/* 2行目 */
.card6 img {top: -100%;  left: 0;}
.card7 img {top: -100%;  left: -99.5%;}
.card8 img {top: -100%;  left: -199%;}
.card9 img {top: -100%;  left: -298.5%;}
.card10 img {top: -100%;  left: -398%;}

/* 3行目 */
.card11 img {top: -200%;  left: 0;}
.card12 img {top: -200%;  left: -99.5%;}
.card13 img {top: -200%;  left: -199%;}
.card14 img {top: -200%;  left: -298.5%;}
.card15 img {top: -200%;  left: -398%;}

/* 4行目 */
.card16 img {top: -300%;  left: 0;}
.card17 img {top: -300%;  left: -99.5%;}
.card18 img {top: -300%;  left: -199%;}
.card19 img {top: -300%;  left: -298.5%;}
.card20 img {top: -300%;  left: -398%;}

/* 5行目 */
.card21 img {top: -400%;  left: 0;}
.card22 img {top: -400%;  left: -99.5%;}
.card23 img {top: -400%;  left: -199%;}
.card24 img {top: -400%;  left: -298.5%;}
.card25 img {top: -400%;  left: -398%;}

