@charset "UTF-8";



/* 共通 -----------------------------------------*/
body {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    background-color: #D9D9D9;
}

.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

img {
    width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.wrapper {
    padding: 0 20px;
}

.container {
    max-width: 1040px;
    margin: 100px auto 0;
}

.about__wrapper {
    background-color: #E3E3E3;
}

.section-title {
    font-size: 150px;
    color: #3C3C3C;
    text-shadow: 5px 5px 5px #858585;
    letter-spacing: 0.15em;
}

.sub-title {
    display: flex;
    align-items: center;
    font-size: 60px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.sub-title span {
    font-size: 80px;
    letter-spacing: 0.1em;
    padding-right: 50px;
}

/* マーカーの初期状態 */
.sub-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.1em;
    height: 20%;
    width: 0%;
    background-image: linear-gradient(to right, #a8e063, #abdd6d22);
    z-index: -1;
    transition: width 0.8s ease-out;
}

/* アニメーションを発火させるクラス */
.sub-title.active::after {
    width: 100%;
}



/* 共通 header -----------------------------------*/

header {
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 80px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: height 0.3s ease;
}

.michroma-regular {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1040px;
}

.michroma-regular li {
    width: 19%;
    height: 50px;
    text-align: center;
    background-color: #EAFFF4;
    box-shadow: 3px 3px 3px 1px #454545b7;
    transition: 0.3s ease;
}

.michroma-regular li a {
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.15em;
}

.michroma-regular li a:hover {
    background-color: #99FF99;
}

.nav-sp {
    display: none;
}


/* 共通 footer -----------------------------------*/
footer {
    position: relative;
    z-index: 25;
    height: 20px;
    opacity: 0;
    transition: opacity 1.7s ease;
}

.footer__copy {
    font-size: 11px;
    line-height: 30px;
    text-align: center;
}


/* =================================
index.html
===================================== */
#metalifeCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 5;
}

/* metalifeCanvas */
.panel-wrapper {
    height: 200vh;
}

.panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5%;
    transition: gap 0.8s ease;
    width: 100%;
    height: 100vh;
    background-color: #000;
    text-align: center;
    box-sizing: border-box;
}

.panel.no-gap {
    gap: 0;
    background-color: #ededed;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card,
.card-inner {
    transition: transform 1s ease;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* 子要素を3Dで保つ */
}

.card:hover .card-inner {
    transform: rotateX(360deg);
}

.card-inner.flip {
    transform: rotateX(180deg);
}

.card-inner.flip:hover {
    transform: rotateX(180deg) !important;
}

.card-inner.animate-flip {
    transition: transform 2s ease;
    transform: rotateX(0deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* 裏面非表示設定 */
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.no-border .front {
    border: none;
    border-radius: 0;
}

.card.no-border .back {
    border: none;
    column-gap: 0;
    row-gap: 0;
    border-radius: 0;
}

.front {
    background-color: #333;
    align-items: center;
    overflow: hidden;
}

.front img {
    position: absolute;
    width: 500%;
    height: 500%;
}

.back {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background-color: #EDEDED;
    text-align: center;
    overflow: hidden;
    transform: rotateX(180deg);
    /* 裏側は180度回転 */
}


.back-inner {
    position: absolute;
    width: 500%;
    height: 500%;
    background-color: #EDEDED;
    text-align: center;
}

.back-inner p {
    position: absolute;
    top: 255px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    color: #111;
    font-size: 45px;
    z-index: 2;
    text-align: center;
}

.back-inner img {
    max-width: 800px;
    height: auto;
    margin-top: 400px;
    top: 1000px;
    object-fit: cover;
    /* なくてもOK、好みで */
}


/* front card position */
/* 1行目 */
.card1 img {
    top: 0;
    left: 0;
}

.card2 img {
    top: 0;
    left: -97%;
}

.card3 img {
    top: 0;
    left: -199%;
}

.card4 img {
    top: 0;
    left: -303%;
}

.card5 img {
    top: 0;
    left: -398%;
}

/* 2行目 */
.card6 img {
    top: -99%;
    left: 0;
}

.card7 img {
    top: -99%;
    left: -97%;
}

.card8 img {
    top: -99%;
    left: -199%;
}

.card9 img {
    top: -99%;
    left: -303%;
}

.card10 img {
    top: -99%;
    left: -398%;
}

/* 3行目 */
.card11 img {
    top: -200%;
    left: 0;
}

.card12 img {
    top: -200%;
    left: -97%;
}

.card13 img {
    top: -200%;
    left: -199%;
}

.card14 img {
    top: -200%;
    left: -303%;
}

.card15 img {
    top: -200%;
    left: -398%;
}

/* 4行目 */
.card16 img {
    top: -302%;
    left: 0;
}

.card17 img {
    top: -302%;
    left: -97%;
}

.card18 img {
    top: -302%;
    left: -199%;
}

.card19 img {
    top: -302%;
    left: -303%;
}

.card20 img {
    top: -302%;
    left: -398%;
}

/* 5行目 */
.card21 img {
    top: -400%;
    left: 0;
}

.card22 img {
    top: -400%;
    left: -97%;
}

.card23 img {
    top: -400%;
    left: -199%;
}

.card24 img {
    top: -400%;
    left: -303%;
}

.card25 img {
    top: -400%;
    left: -398%;
}


/* .back card potsition*/
/* 1行目 */
.card1 .back-inner {
    top: 0%;
    left: 0%;
}

.card2 .back-inner {
    top: 0%;
    left: -100%;
}

.card3 .back-inner {
    top: 0%;
    left: -200%;
}

.card4 .back-inner {
    top: 0%;
    left: -300%;
}

.card5 .back-inner {
    top: 0%;
    left: -400%;
}

/* 2行目 */
.card6 .back-inner {
    top: -100%;
    left: 0%;
}

.card7 .back-inner {
    top: -100%;
    left: -100%;
}

.card8 .back-inner {
    top: -100%;
    left: -200%;
}

.card9 .back-inner {
    top: -100%;
    left: -300%;
}

.card10 .back-inner {
    top: -100%;
    left: -400%;
}

/* 3行目 */
.card11 .back-inner {
    top: -200%;
    left: 0%;
}

.card12 .back-inner {
    top: -200%;
    left: -100%;
}

.card13 .back-inner {
    top: -200%;
    left: -200%;
}

.card14 .back-inner {
    top: -200%;
    left: -300%;
}

.card15 .back-inner {
    top: -200%;
    left: -400%;
}

/* 4行目 */
.card16 .back-inner {
    top: -300%;
    left: 0%;
}

.card17 .back-inner {
    top: -300%;
    left: -100%;
}

.card18 .back-inner {
    top: -300%;
    left: -200%;
}

.card19 .back-inner {
    top: -300%;
    left: -300%;
}

.card20 .back-inner {
    top: -300%;
    left: -400%;
}

/* 5行目 */
.card21 .back-inner {
    top: -400%;
    left: 0%;
}

.card22 .back-inner {
    top: -400%;
    left: -100%;
}

.card23 .back-inner {
    top: -400%;
    left: -200%;
}

.card24 .back-inner {
    top: -400%;
    left: -300%;
}

.card25 .back-inner {
    top: -400%;
    left: -400%;
}



.about__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: 100vh;
}

.section-title-rotate {
    width: 10%;
    padding-left: 20px;
}

.section-title-rotate .section-title {
    transform: rotate(-90deg);
    transform-origin: bottom;
    display: inline-block;
    width: 1.5em;
}

.about__list {
    width: 80%;
}

.about__list__item {
    border-bottom: 1px solid #9E9E9E;
}

.about__list__item:first-of-type {
    border-top: 1px solid #9E9E9E;
}

.about__list__item--link {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    padding: 40px;
}

.about__list__item--link:hover {
    background-color: #343434;
    color: #E3E3E3;
}

.about__list__item--link span {
    font-size: 90px;
    padding-right: 40px;
}

.about__wrapper {
    background-color: #E3E3E3;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.about__left {
    width: 60%;
}

.about__right {
    width: 33%;
}

.about__left__item {
    margin-bottom: 150px;
}

.about__what__text,
.about__merit__text {
    line-height: 1.8em;
}

.about__merit__text {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.about__merit__text::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 0;
    width: 5px;
    height: 80%;
    background-color: #f4b61a;
    margin-right: 0.5em;
}

.about__right ul li {
    padding-bottom: 50px;
}

.about__voice__left,
.about__voice__right {
    display: flex;
    align-items: center;
}

.about__voice--avatar {
    width: 13%;
}

.about__voice__text {
    background-color: #ffffff;
    width: 90%;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    font-size: 22px;
    line-height: 1.5em;
}

.about__voice__left--text {
    margin-left: 15px;
    position: relative;
}

.about__voice__left--text::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-top: 15px solid transparent;
    border-right: 15px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 40%;
    left: -30px;
}

.about__voice__right--text {
    margin-right: 25px;
    position: relative;
}

.about__voice__right--text::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 40%;
    right: -30px;
}

.about__right {
    height: 1750px;
    overflow: hidden;
    position: relative;
}

.scroll-animate,
.scroll-animate-sp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroll-animate {
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    animation-duration: 30s;
    animation-name: scroll-vertical;
}

@keyframes scroll-vertical {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}


/* =================================
event.html
===================================== */
/* ページ内共通 */
.event__section {
    position: relative;
    margin-bottom: 70px;
    margin-bottom: 70px;

}

.event__sub-title {
    max-width: 60%;
    font-size: 60px;
    margin-bottom: 50px;
}

.event__sub-title span {
    font-size: 80px;
    letter-spacing: 0.1em;
    padding-right: 50px;
}

.event__items {
    display: flex;
    justify-content: space-between;
}

.work-session-regular__item {
    position: relative;
    width: 32%;
    margin-bottom: 40px;
    text-align: center;
    background-color: #dfdede;
    box-shadow: 1px 1px 1px 1px #454545b7;
}

.icon-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.icon {
    box-shadow: 1px 1px 1px 1px #454545b7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.seminar__img,
.ask-space__img,
.beginner__img {
    opacity: 0;
    transition: opacity 1s ease;
}

.virtual-drink-meetup__description,
.hackathon__description {
    width: 60%;
    line-height: 60px;
    /* background-color: #dfdede;
    box-shadow: 1px 1px 1px 1px #454545b7; */

}

.virtual-drink-meetup__imgs,
.hackathon__img {
    display: block;
    width: 30%;
}

.section__label {
    padding: 130px 0 50px;
    font-size: 35px;
}

.event__item-list li {
    display: block;
    position: relative;
    padding-bottom: 25px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}


/* 01 作業会定例 */
/* 作業会 セミナー */
.seminar__img {
    width: 100%;
}

/* 作業会 質問部屋 */
/* .work-session-regular__ask-space {
    background-color: #dfdede;
    margin-top: 60px;
} */

.ask-space__img {
    width: 100%;
}

/* 作業会作業会 初心者交流会  */
.beginner__img {
    width: auto;
    height: 90%;
    margin-top: 8px;
}

/* 02 オンライン飲み会 */
.virtual-drink-meetup {
    padding-bottom: 50px;
}

.virtual-drink-meetup__imgs {
    position: relative;
}

.monitor {
    display: block;
    width: 100%;
}

.avatars {
    position: absolute;
    top: 19%;
    left: 9%;
    width: 82%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 10;
}

.drink__avatar {
    width: 34%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.1s ease;
}

.drink__avatar.visible {
    opacity: 1;
}

.beer {
    position: absolute;
    top: 200px;
    left: -40%;
    display: block;
    width: 60%;
    transform: rotate(18deg);
    opacity: 0;
    transition: opacity 0.5s ease;

}

.beer.visible {
    opacity: 1;
}


/*03  ハッカソン */
.hackathon {
    padding-bottom: 50px;
}

.hackathon__img {
    position: relative;
    width: 34%;
    margin-top: 18px;
}

.typewriter {
    position: absolute;
    top: 6%;
    left: 5%;
    width: 55%;
    color: #ffffff;
    font-size: 14px;
}


/* =================================
faq.html
===================================== */
/* 仮設定 */
#faq {
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq__content {
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#faq .section-title {
    margin-bottom: 20px;
}

.faq__item {
    border-bottom: 1px solid #eee;
}

.faq__item:last-child {
    border-bottom: none;
}

/* --- 質問部分 --- */
.faq__item--question {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid;
    color: #000;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.faq__item--question:hover {
    background-color: #99FF99;
}

.faq__item--question::before {
    content: "Q.";
    color: #2589d0;
    margin-right: 1.5rem;
}

.faq__item--question .q-text {
    flex-grow: 1;
    /* 残りのスペースを埋める */
}

.faq__item--question::after {
    content: '+';
    font-size: 2rem;
    color: #2589d0;
    font-weight: bold;
    transition: transform 0.3s ease;
    position: absolute;
    right: 20px;
}

/* openクラスが付いた時のアイコン回転 */
.faq__item--question.open::after {
    content: '-';
    transform: rotate(360deg);
    transition: transform 0.3s;
}

.faq__item--question.open {
    background-color: #99FF99;
}

/* --- 回答部分 --- */
.faq__item--answer {
    display: none;
    /* 初期状態は非表示 */
    background-color: #fef4f4;
    line-height: 1.6;
    color: #333;
    position: relative;
    /* 三角形のために追加 */
    border-radius: 25px;
    margin-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 2px solid #2589d0;
}

.faq__item--answer::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 40px;
    /* お好みで位置調整 */
    width: 20px;
    height: 15px;
    background: #2589d0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.faq__item--answer::after {
    content: "";
    position: absolute;
    top: -13px;
    left: 40px;
    width: 20px;
    height: 15px;
    background: #ffffff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.faq__answer--content {
    display: flex;
    align-items: flex-start;
    /* 上揃え */
    gap: 20px;
    /* 要素間の隙間 */
    border-radius: 25px;
}

.faq__answer--content::before {
    content: "A.";
    color: #2589d0;
    display: inline-block;
    margin-top: 30px;
    margin-left: 1.5rem;
}

.faq__answer--content .answer--main {
    flex-grow: 1;
    /* 残りのスペースを埋める */
}

.answer--text {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
}

/* テキストと画像が横並びになる部分 */
.answer--main--flex {
    display: flex;
    align-items: flex-start;
    /* 上揃え */
    gap: 10px;
    /* テキストと画像の隙間 */
}

.answer--main--flex .answer--text {
    flex: 1;
    /* 利用可能なスペースを占める */
    min-width: 0;
    /* Flexアイテムが縮小できるようにする */
}

.answer--main--flex .answer--media--content {
    flex: 0 0 40%;
    /* 画像コンテナの幅を40%に固定 */
    margin-top: 30px;
}

.answer--media--content img {
    border-radius: 0.5rem;
}

/* .faq__inquiry--form お問い合わせ*/
.faq__inquiry--form {
    background-color: #fef4f4;
    margin: 20px auto 80px;
    padding-bottom: 30px;
    border-radius: 5%;
}

.faq__inquiry--title {
    text-align: center;
    padding: 20px 0;
}

.form__item {
    border-top: 1px solid #ddd;
    padding: 25px 14px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.form__item:last-child {
    border-bottom: 1px solid #ddd;
}

.form__item--label {
    width: 100%;
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form__item--label--required {
    border-radius: 6px;
    color: #ffffff;
    background-color: #00ff00;
    text-align: center;
    width: 48px;
    margin-left: 2em;
    margin-right: 1em;
}

.form__item--input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 1em;
    padding-inline: 1em;
    height: 48px;
    width: 80%;
    background-color: #D9D9D9;
    font-size: 18px;
}

.form__item--textarea {
    margin-left: 1em;
    padding: 1em;
    border-radius: 6px;
    width: 100%;
    height: 216px;
    background-color: #D9D9D9;
    font-size: 20px;
    flex: 1;
}

.form--btn {
    border: 1px solid;
    margin: 32px auto;
    padding: 15px;
    width: 250px;
    display: block;
    color: #ffffff;
    background-color: #00ff00;
    font-size: 20px;
}

/* responsive -----------------------------------*/
@media(max-width:768px) {

    /* =================================
    ハンバーガーメニュー
    ===================================== */
    header {
        background-color: transparent;
        top: 0;
    }

    .nav-pc {
        display: none;
    }

    .hamburger {
        display: block;
        width: 50px;
        height: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        user-select: none;
        background: #343434;
        border: 2px solid #00ff88;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 0 0 20px rgba(0, 255, 136, 0.3);
        transition: all 0.3s;
    }

    .hamburger:hover {
        box-shadow: 0 0 30px rgba(0, 255, 136, 0.8);
        transform: scale(1.05);
    }

    .hamburger span {
        background-color: #00ff88;
        height: 2px;
        width: calc(100% - 16px);
        position: absolute;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px rgba(0, 255, 136, 0.8);
        left: 8px;
    }

    .hamburger span:nth-of-type(1) {
        top: 25%;
    }

    .hamburger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger span:nth-of-type(3) {
        bottom: 25%;
    }

    .hamburger.active span:nth-of-type(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .hamburger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-of-type(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    .nav-sp {
        display: block;
        position: absolute;
        top: 300%;
        left: 50%;
        transform: translate(-50%, -55%);
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        width: 80%;
        background: #343434;
        border: 2px solid #00ff88;
        border-radius: 15px;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .nav-sp.active {
        opacity: 1;
        transform: translate(-50%, -50%);
        /* 中央に戻す */
        pointer-events: auto;
    }

    .nav-sp ul {
        flex-direction: column;
        gap: 15px;
    }

    .nav-sp li {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        background-color: #EAFFF4;
        box-shadow: 3px 3px 3px 1px #454545b7;
        transition: 0.3s ease;
    }

    .nav-sp a {
        display: block;
        font-size: 22px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0.15em;
    }

    .nav-sp a:hover {
        background-color: #99FF99;
    }

    /* =================================
    About
    ===================================== */

    .about__top {
        flex-direction: column;
        height: auto;
    }

    .section-title-rotate {
        width: 100%;
        margin: 60px 0 30px 0;
    }

    .section-title-rotate .section-title {
        transform: rotate(0deg);
        left: 0;
        font-size: 100px;
    }

    .about__list {
        width: 100%;
    }

    .about__list__item--link {
        font-size: 50px;
        font-weight: bold;
        padding: 30px;
    }

    .about__list__item--link span {
        font-size: 70px;
        padding-right: 30px;
    }

    .about {
        flex-direction: column;
    }

    .about__left,
    .about__right {
        width: 100%;
    }

    .about__left__item {
        margin-bottom: 80px;
    }

    .about__right {
        height: 300px;
        overflow: hidden;
    }

    .scroll-animate-sp,
    .scroll-animate-sp-clone {
        display: flex;
        gap: 20px;
        width: max-content;
        animation: scroll-horizontal 40s linear infinite;
        white-space: nowrap;
    }

    @keyframes scroll-horizontal {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .scroll-animate-sp li {
        min-width: 60vw;
        height: 300px;
        flex: 0 0 auto;
    }

    .scroll-animate-sp li img {
        height: 100%;
    }


    /* =================================
    Event
    ===================================== */
    .event__items {
        flex-direction: column;
    }

    .event__sub-title {
        max-width: 100%;
        max-width: 100%;
    }

    .work-session-regular__item .virtual-drink-meetup__description,
    .hackathon__description {
        width: 100%;
    }

    .virtual-drink-meetup__imgs,
    .hackathon__img {
        width: 40%;
        margin: 0 auto;
    }

    .event__item-list li {
        padding-bottom: 30px;
    }

    .hackathon__img {
        padding-bottom: 35px;
    }

    /* FAQ */
    .answer--main--flex {
        flex-direction: column;
        /* 上揃え */
        gap: 0;
        /* テキストと画像の隙間 */
    }
}