@charset "UTF-8";

/* 共通 -----------------------------------------*/
body {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    background-color: #D9D9D9;
}

.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

img {
    width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.wrapper {
    padding: 0 20px;
}

.container {
    max-width: 1040px;
    margin: 100px auto 0;
}

.about__wrapper {
    background-color: #E3E3E3;
}

.section-title {
    font-size: 150px;
    color: #3C3C3C;
    text-shadow: 5px 5px 5px #858585;
    letter-spacing: 0.15em;
}

.sub-title {
    display: flex;
    align-items: center;
    font-size: 60px;
    margin-bottom: 50px;
}

.sub-title span {
    font-size: 80px;
    letter-spacing: 0.1em;
    padding-right: 50px;
}



/* 共通 header -----------------------------------*/

header {
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 80px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1040px;
}

header nav ul li {
    width: 19%;
    height: 50px;
    text-align: center;
    background-color: #EAFFF4;
    box-shadow: 3px 3px 3px 1px #454545b7;
    transition: 0.3s ease;
}

header nav ul li a {
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.15em;
}

header nav ul li a:hover {
    background-color: #99FF99;
}


/* 共通 footer -----------------------------------*/
footer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
}

.footer__copy {
    font-size: 11px;
    line-height: 30px;
    text-align: center;
}


/* =================================
index.html
===================================== */
/* 仮設定 */
.mainvisual {
    height: 100vh;
    border: 3px solid;
}

.about__top {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title-rotate {
    width: 10%;
    padding-left: 20px;
}

.section-title-rotate .section-title {
    transform: rotate(-90deg);
    transform-origin: bottom;
    display: inline-block;
    width: 1.5em;
}

.about__list {
    width: 80%;
}

.about__list__item {
    border-bottom: 1px solid #9E9E9E;
}

.about__list__item:first-of-type {
    border-top: 1px solid #9E9E9E;
}

.about__list__item--link {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    padding: 40px;
}

.about__list__item--link:hover {
    background-color: #343434;
    color: #E3E3E3;
}

.about__list__item--link span {
    font-size: 90px;
    padding-right: 40px;
}

.about__wrapper {
    background-color: #E3E3E3;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.about__left {
    width: 60%;
}

.about__right {
    width: 33%;
}

.about__left__item {
    margin-bottom: 150px;
}

.about__what__text,
.about__merit__text,
.about__voice__text {
    line-height: 50px;
}

.about__merit__text {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.about__merit__text::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 0;
    width: 5px;
    height: 80%;
    background-color: #f4b61a;
    margin-right: 0.5em;
}

.about__right ul li {
    padding-bottom: 50px;
}

.about__voice__left,
.about__voice__right {
    display: flex;
    align-items: center;
}

.about__voice--avatar {
    width: 15%;
}

.about__voice__text {
    background-color: #ffffff;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
}

.about__voice__left--text {
    margin-left: 15px;
    position: relative;
}

.about__voice__left--text::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-top: 15px solid transparent;
    border-right: 15px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 30%;
    left: -30px;
}

.about__voice__right--text {
    margin-right: 25px;
    position: relative;
}

.about__voice__right--text::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 30%;
    right: -30px;
}





/* =================================
event.html
===================================== */
/* 仮設定 */




/* =================================
faq.html
===================================== */
/* 仮設定 */
#faq .section-title {
    margin-bottom: 100px;
}

.faq_item--text {
    border-block: 1px solid #9E9E9E;
    padding: 60px 20px;
    font-size: 2rem;
    font-weight: bold;
}

.faq_item--text span {
    display: inline-block;
    padding-right: 20px;
}